@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --color-bg-light: #fff;
   --color-text-light: #131516;
   --color-bg-dark: #181a1b;
   --color-text-dark: #fff;
   --color-bg-blue-light: #ebf8ff;
   --color-bg-section-blue-light: #3b82f6;
   --color-bg-section-blue-dark: #0844a6;
   --color-bg-search-dark: #0e0f0f;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@layer base {
   body {
      @apply bg-light-background text-light-text;
   }

   .dark body {
      @apply bg-dark-background text-dark-text;
   }
}

.bg-light-blue {
   background-color: var(--color-bg-blue-light);
}

.dark .bg-light-blue {
   background-color: var(--color-bg-dark);
}

.bg-light-section {
   background-color: var(--color-bg-section-blue-light);
}

.bg-dark-section {
   background-color: var(--color-bg-section-blue-dark);
}

.bg-dark-search {
   background-color: var(--color-bg-search-dark);
}
