@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --color-bg-light: #fff;
   --color-text-light: #131516;
   --color-bg-dark: #181a1b;
   --color-text-dark: #fff;
   --color-bg-button-light: #3b82f6; /* bg-blue-500 */
   --color-bg-button-light-hover: #2563eb; /* bg-blue-600 */
   --color-bg-button-dark: #0844a6; /* bg-blue-700 */
   --color-bg-button-dark-hover: #06397a; /* bg-blue-800 */
   --color-bg-row-light: #f3f4f6; /* bg-gray-100 */
   --color-bg-row-dark: #374151; /* bg-gray-700 */
   --color-bg-row-header-light: #e5e7eb; /* bg-gray-200 */
   --color-bg-row-header-dark: #1f2937; /* bg-gray-800 */
   --color-border-dark: #6b7280; /* bg-gray-500 */
   --color-bg-input-dark: #0e0f0f;
   --color-bg-blue-light: #ebf8ff;
   --color-bg-section-light: #2b5876;
   --color-bg-section-dark: #122430;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@layer base {
   body {
      @apply bg-light-background text-light-text;
   }

   .dark body {
      @apply bg-dark-background text-dark-text;
   }
}

.btn {
   @apply px-4 py-2 rounded-lg text-white transition duration-200 font-bold text-center flex justify-center disabled:opacity-40 disabled:cursor-not-allowed;
}

/* width */
::-webkit-scrollbar {
   width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #ff0000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}
